/** Font Colors **/
/** Box Border Colors **/
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #333;
  background: #FFF; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: 1em;
  font-family: 'CaviarDreamsBold'; }

p, span, em, a {
  font-family: 'CaviarDreamsRegular';
  line-height: 1em; }

.container {
  width: auto;
  padding: 5% 14%;
  position: relative; }

/** Main Header Styles **/
.main_header {
  height: 105px;
  background: #FCFCFC;
  border-bottom: 1px solid #eeeeee; }
  .main_header .container {
    padding: 20px 14% 0; }
    .main_header .container .title {
      width: 225px;
      margin: 0 20px 0 0;
      font-size: 2em;
      overflow: hidden;
      color: #a1b99d;
      float: left; }
      .main_header .container .title img {
        width: 60px;
        float: left; }
      .main_header .container .title .title_words {
        margin: 0 0 0 5px;
        padding: 0 0 0;
        float: left;
        line-height: 1em; }
        .main_header .container .title .title_words span {
          display: block; }
    .main_header .container .menu {
      width: auto;
      margin: 34px 0 0;
      padding: 0;
      overflow: hidden;
      list-style: none; }
      .main_header .container .menu .menu-item {
        margin: 0 10px 0 0;
        float: left; }
        .main_header .container .menu .menu-item a {
          width: auto;
          margin: 0;
          padding: 5px 20px;
          color: #999;
          font-size: 1em;
          text-decoration: none;
          text-align: center;
          -webkit-transition: all linear 0.1s;
          display: block; }
          .main_header .container .menu .menu-item a:hover {
            color: #666; }
        .main_header .container .menu .menu-item:last-child {
          margin-right: 0px; }
      .main_header .container .menu .current-menu-parent a,
      .main_header .container .menu .current-menu-item a {
        color: #666; }

.single .main_header {
  display: none; }
.single .visible_header {
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  opacity: 1; }

/** End Main Header **/
/** Background Image **/
.background-image {
  width: 100%;
  height: 510px;
  background-size: 100%;
  background-attachment: fixed;
  background-position: 0 0;
  background-repeat: no-repeat;
  border-bottom: 10px solid #b58b79; }

.last {
  height: 650px;
  background-position: 0 -80px;
  border-top: 1px solid #dddddd; }

.background-image + .single-tag {
  margin: -35px 0 0;
  padding: 5px 10px;
  color: #FFF;
  position: absolute;
  left: 14%; }

.background-image + .single-tag.features {
  background: #b58b79; }

/** Content Container **/
.content_container {
  padding: 30px 0 5%;
  position: relative;
  overflow: hidden; }
  .content_container .category-title {
    padding: 5px 10px;
    color: #FFF;
    position: absolute;
    top: 0;
    left: 0; }
  .content_container .thoughts {
    background: #a1b99d; }
  .content_container .news {
    background: #666666; }
  .content_container .feature {
    background: #b58b79; }
  .content_container .header {
    margin: 0 0 20px; }
    .content_container .header a {
      text-decoration: none; }
      .content_container .header a:hover .title {
        color: #888; }
    .content_container .header .title {
      padding: 5px 0 0 0;
      font-size: 4em;
      color: #AEB29E;
      -webkit-transition: all linear 0.1s; }
    .content_container .header .meta {
      margin: 10px 0; }
      .content_container .header .meta span {
        font-size: 2em;
        color: #aaaaaa; }
      .content_container .header .meta .author:before {
        content: 'by';
        margin: 0 10px;
        color: #CCC; }
  .content_container .content .excerpt p {
    font-family: 'CaviarDreamsRegular';
    color: #666666;
    font-size: 1.5em; }
  .content_container .content p {
    margin: 0 0 20px;
    font-size: 1.5em;
    line-height: 1.5em;
    color: #666666;
    display: inline-block; }
  .content_container .content a {
    color: #a1b99d;
    text-decoration: none; }
    .content_container .content a:hover {
      color: #444;
      -webkit-transition: all linear 0.2s; }
  .content_container .article-footer .meta {
    margin: 25px 0; }
    .content_container .article-footer .meta p {
      margin: 0 0 10px;
      display: block;
      overflow: hidden; }
      .content_container .article-footer .meta p span {
        padding: 5px 10px;
        background: #a1b99d;
        color: #FFF;
        float: left; }
      .content_container .article-footer .meta p a {
        text-decoration: none; }
        .content_container .article-footer .meta p a span {
          background: #AAA;
          margin-left: 2px;
          border-right: none; }
        .content_container .article-footer .meta p a:hover {
          text-decoration: underline; }
          .content_container .article-footer .meta p a:hover span {
            background: #888; }
    .content_container .article-footer .meta .continue-reading {
      margin: 0;
      padding: 0; }

/** Features Story Styles **/
.feature-stream {
  width: auto;
  height: 325px;
  padding: 5% 14%;
  overflow: hidden; }
  .feature-stream .feature_stream_buttons {
    width: 150px;
    height: 325px;
    z-index: 999;
    background: #FFF;
    position: absolute;
    -webkit-user-select: none;
    cursor: pointer; }
    .feature-stream .feature_stream_buttons:hover .button {
      background: white url("../images/arrow_sprite_hover.png") 0 50% no-repeat; }
    .feature-stream .feature_stream_buttons .button {
      width: 32px;
      height: 100%;
      background: white url("../images/arrow_sprite.png") 0 50% no-repeat;
      display: block;
      cursor: pointer;
      -webkit-user-select: none;
      -webkit-transition: background linear 0.2s; }
  .feature-stream .prev {
    left: 0; }
    .feature-stream .prev .button {
      float: right;
      visibility: hidden; }
  .feature-stream .next {
    right: 0;
    margin: -343px 0 0; }
    .feature-stream .next .button {
      background-position: -32px 50%; }
    .feature-stream .next:hover .button {
      background-position: -32px 50%; }
  .feature-stream .stream_item_container {
    width: 4000px;
    left: 0;
    position: relative;
    overflow: hidden; }
    .feature-stream .stream_item_container .stream-items {
      width: 425px;
      margin-right: 50px;
      padding: 20px;
      float: left;
      border-top: 5px solid #b58b79;
      -webkit-transition: opacity linear 0.2s; }
      .feature-stream .stream_item_container .stream-items h2 {
        font-size: 2em;
        line-height: 1em; }
        .feature-stream .stream_item_container .stream-items h2 a {
          color: #666;
          text-decoration: none;
          -webkit-transition: color linear 0.2s; }
          .feature-stream .stream_item_container .stream-items h2 a:hover {
            color: #333; }
      .feature-stream .stream_item_container .stream-items .date {
        margin: 10px 0 0;
        font-size: 1.5em;
        color: #AAA;
        display: block; }
      .feature-stream .stream_item_container .stream-items .excerpt p {
        color: #888;
        font-size: 1em;
        line-height: 1.5em; }
    .feature-stream .stream_item_container .active {
      opacity: 1; }

/** Features Page Footer **/
.footer {
  width: auto;
  padding: 20px 0 0;
  overflow: hidden; }
  .footer .comments {
    width: 100%;
    margin: 20px 0;
    display: inline-block;
    position: relative; }
    .footer .comments h2 {
      padding: 20px 14%;
      font-size: 3em;
      font-family: 'CaviarDreamsBold';
      color: #a1b99d;
      border-top: 1px solid #eeeeee;
      border-bottom: 1px solid #eeeeee;
      background: #FCFCFC; }
    .footer .comments .comments-list {
      margin: 40px 14% 0;
      padding: 0;
      list-style: none; }
      .footer .comments .comments-list .comment {
        margin: 0 0 20px;
        padding: 0 0 20px;
        border-bottom: 1px solid #eeeeee; }
        .footer .comments .comments-list .comment .comment-header {
          width: 100%; }
          .footer .comments .comments-list .comment .comment-header h3 {
            color: #888;
            font-size: 2.5em; }
          .footer .comments .comments-list .comment .comment-header .comment-meta {
            margin: 5px 0 20px; }
            .footer .comments .comments-list .comment .comment-header .comment-meta span {
              color: #AAA;
              font-size: 1.5em; }
            .footer .comments .comments-list .comment .comment-header .comment-meta .time:before {
              content: 'at';
              margin-right: 5px;
              color: #CCC; }
          .footer .comments .comments-list .comment .comment-header .reply a {
            margin-left: 20px;
            color: #a1b99d;
            text-decoration: none; }
            .footer .comments .comments-list .comment .comment-header .reply a:hover {
              text-decoration: underline; }
        .footer .comments .comments-list .comment:last-child {
          border-bottom: none; }
        .footer .comments .comments-list .comment .comment-content {
          color: #666666;
          font-size: 1.25em;
          line-height: 1.5em;
          font-family: 'CaviarDreamsRegular'; }
    .footer .comments .children {
      list-style: none; }

.single .content_container {
  width: auto;
  padding: 5% 14% 0; }
  .single .content_container .header .meta {
    margin: 20px 0; }

.single article.features {
  padding-bottom: 5%; }

/** Main Footer **/
.main_footer .footer_top {
  padding: 5% 14%;
  background: #EEE;
  border-top: 10px solid #dddddd;
  overflow: hidden; }
  .main_footer .footer_top .widget_section {
    width: 50%;
    margin-right: 5%;
    float: left; }
    .main_footer .footer_top .widget_section .widget {
      margin: 0 0 5%; }
      .main_footer .footer_top .widget_section .widget h2 {
        margin: 0 0 20px;
        font-family: 'CaviarDreamsRegular';
        color: #a1b99d; }
      .main_footer .footer_top .widget_section .widget ul {
        margin: 0;
        padding: 0;
        list-style: none; }
        .main_footer .footer_top .widget_section .widget ul li {
          margin: 0 0 10px 20px; }
          .main_footer .footer_top .widget_section .widget ul li a {
            font-size: 1.15em;
            color: #888;
            text-decoration: none;
            -webkit-transition: color linear 0.2s; }
            .main_footer .footer_top .widget_section .widget ul li a:hover {
              color: #666; }
          .main_footer .footer_top .widget_section .widget ul li .post-date {
            margin: 5px 0 0;
            font-size: 1em;
            color: #AAA;
            display: block; }
  .main_footer .footer_top .twitter_section {
    width: 45%;
    float: right; }
    .main_footer .footer_top .twitter_section span {
      margin: 0 0;
      padding: 5px 10px;
      color: white;
      display: inline-block; }
  .main_footer .footer_top .feature span {
    background: #b58b79; }
  .main_footer .footer_top .feature #twitter {
    border-top: 5px solid #b58b79; }
  .main_footer .footer_top .news span {
    background: #666; }
  .main_footer .footer_top .news #twitter {
    border-top: 5px solid #666666; }
  .main_footer .footer_top .thoughts span {
    background: #a1b99d; }
  .main_footer .footer_top .thoughts #twitter {
    border-top: 5px solid #a1b99d; }
.main_footer .footer_bottom {
  width: auto;
  padding: 20px 14%;
  background: #666;
  border-top: 10px solid #888888;
  overflow: hidden; }
  .main_footer .footer_bottom p {
    margin: 0 10px 0 0;
    padding: 10px 0 10px 10px;
    color: #CCC;
    font-size: 1em;
    float: left;
    border-left: 1px solid #888888; }
    .main_footer .footer_bottom p a {
      color: #CCC;
      text-decoration: none;
      -webkit-transition: color linear 0.1s; }
      .main_footer .footer_bottom p a:hover {
        color: #FFF; }
    .main_footer .footer_bottom p:first-child {
      margin-left: 0px;
      border-left: none; }

/** END MAIN FOOTER **/
