@import 'variables';
@import 'mixins';

body{ 
	width: 100%;
	max-width: 1920px;
	height: 100%; 
	margin: 0; 
	padding: 0; 
	color: #333;
	background: #FFF;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
	line-height: 1em;
	font-weight: normal;
	font-family: 'CaviarDreamsBold';
}

p, span, em, a{ font-family: 'CaviarDreamsRegular'; line-height: 1em; }

.container{
	width: auto;
	padding: 5% 14% 0;
	position: relative;
}

/** Main Header Styles **/
.main_header{

	height: 100px;
	position: relative;
	z-index: 999;

	&:hover{ opacity: 1 !important; }

	.container{

		padding: 20px 14% 0; 

		.title{
			width: 225px;
			margin: 0 20px 0 0;
			font-size: 2em;
			overflow: hidden;
			color: $green;
			float: left;

			.home_link{
				img{ width: 60px; float: left; }
				.title_words{
					margin: 0 0 0 5px;
					padding: 0 0 0;
					float: left;
					line-height: 1em;

					span{ display: block; color: $green;}
				}
			}
		}

		.menu{
			width: auto;
			margin: 34px 0 0;
			padding: 0;
			overflow: hidden;
			list-style: none;

			.menu-item{
				margin: 0 10px 0 0;
				float: left;

				a{
					width: auto;
					margin: 0;
					padding: 5px 20px;
					color: #999;
					font-size: 1em;
					text-decoration: none;
					text-align: center;
					-webkit-transition: all linear 0.1s;
					display: block;

					&:hover{ color: #666; }
				}

				&:last-child{ margin-right: 0px; }
			}
			.current-menu-parent,
			.current-menu-item{ 
				a{ color: #666; }
			}
		}
	}
}
/** End Main Header **/

/** Homepage Content **/
.featured-container{

	padding: 0 0;

	.wallimage{

		width: 100%;
		margin: 0 auto;
		overflow: hidden;

		.block{
			@include blockSizes;
			background-position: 0 10%;
			background-size: 315%;

			&:last-child{ margin-right: 0px; }

			.block-content{
				width: 100%;
				height: inherit;
				margin: 0;
				position: relative;
				opacity: 0;
				-webkit-transition: opacity 0.1s linear;

				.the_title{
					padding: 20px;
					font-size: 3em;
					color: #FFF;
				}

				h3{ 
					padding: 20px;
					font-size: 2em;
					color: #FFF; 
					font-family: 'CaviarDreamsRegular'; 
					position: absolute;
					bottom: 0px;
				}

				.the_date{ bottom: 35px; }
				.the_author{
					&:before{ content: 'by'; margin-right: 5px; color: #DDD; }
				}

				p{ 
					margin: 0;
					padding: 20px;
					color: #FFF; 
					font-size: 1.25em;
					line-height: 1.25em;
					position: absolute;
					bottom: 0px;
				}
			}

		}
		.block-1{ z-index: 10; }
		.block-2{ background-position: 50% 10%; z-index: 8; }
		.block-3{ background-position: 98% 10%; z-index: 6; }

		&:hover{ 
			cursor: pointer;

			.block{ .block-content{ opacity: 1; background: rgba($green, 0.75); } }
		}
	}
	.feature{ .block{ .block-content{ background: $brown; } } }
	.thoughts{ .block{ .block-content{ background: rgba($green, 0.75); } } }
}

.secondary_row{

	margin: 15px 0 0;
	padding-top: 0;
	clear: both;
	overflow: hidden;

	.block_row{
		margin: 0 0 20px;
		padding-top: 0px;
		overflow: hidden; 
		clear: both;

		.block{
			width: 32.6%;
			height: 250px;
			margin: 0 1% 0 0;
			float: left;
			position: relative;
			z-index: 2;
			background-size: 150%;
			background-position: 50% 0;
			cursor: pointer;
			overflow: hidden;

			&:last-child{ margin-right: 0px; }

			.content{
				width: 100%;
				height: inherit;
				opacity: 0;
				color: #FFF;
				-webkit-transition: opacity 0.1s ease-in-out;

				h3, h4{ padding: 10px 10px 0; font-family: 'CaviarDreamsRegular'; font-weight: normal; }

				.category{ 
					margin: 0 10px;
					padding: 10px 0 0;
					border-bottom: 1px solid #FFF; 
					float: left; 
				}
				.title{ font-size: 2.5em; clear: both; }
				.author{
					font-size: 1.5em;
					position: absolute;
					bottom: 10px;

					&:before{ content: 'by'; margin: 0 5px 0 0; color: #DDD; }
				}

				&:hover{ opacity: 1; }
			}

			.feature{ border-top: 5px solid $brown; background: rgba($brown, 0.75); }
			.thoughts{ border-top: 5px solid $green; background: rgba($green, 0.75); }
		}
	}
}

.tertiary_row{

}

.home_items{
	padding-top: 20px;
}

/** END HOMEPAGE CONTENT **/


/** Background Image **/
.background-image{
	width: 100%;
	height: 510px;
	background-size: 105%;
	background-attachment: fixed;
	background-position: 0 0;
	background-repeat: no-repeat;
}
.last{ height: 650px; background-size: 125%; background-position: 50% 0; border-top: 1px solid #DDD; }

.main_image{
	width: 100%;
	height: 350px;
	background-attachment: scroll;
	background-position: 50% 10%;
	border-bottom: 10px solid $green;
}


.background-image.features{ border-bottom: 10px solid $brown; }
.background-image.thoughts{ border-bottom: 10px solid $green; }

.thought_info{ border-bottom: 10px solid $green; }

.background-image + .single-tag,
.thought_info + .single-tag{ 
	margin: -35px 0 0;
	padding: 5px 10px;
	color: #FFF;
	position: absolute;
	left: 14%;
}
.background-image + .single-tag.features{ background: $brown; }

.background-image + .single-tag.thoughts,
.thought_info + .single-tag.thoughts{ background: $green; }

/** Content Container **/
.content_container{
	padding: 30px 0 5%;
	position: relative;
	overflow: hidden;	

	.category-title{
		padding: 5px 10px;
		color: #FFF;
		position: absolute;
		top: 0;
		left: 0;
	}
	.thoughts{ background: $green; }
	.news{ background: $grey; }
	.feature{ background: $brown; }

	.header{
		
		margin: 0 0 20px;
		
		a{ text-decoration: none; &:hover{ .title{ color: #888; } } }

		.title{ 
			padding: 5px 0 0 0;
			font-size: 4em; 
			color: #666;
			-webkit-transition: all linear 0.1s;
		}
		.meta{ @include content_meta; }
	}

	.content{
		.excerpt{
			p{
				font-family: 'CaviarDreamsRegular';
				color: $normal-color; 
				font-size: 1.5em;
			}
		}
		p{ 
			margin: 0 0 20px;
			font-size: 1.5em; 
			line-height: 1.5em; 
			color: $normal-color; 
			display: inline-block;
		}
		a{
			color: $title-color;
			text-decoration: none;

			&:hover{ color: #444; -webkit-transition: all linear 0.2s; }
		}
	}

	.article-footer{
		.meta{
			margin: 25px 0;
			p{
				margin: 0 0 10px;
				display: block;
				overflow: hidden;

				span{ padding: 5px 10px; background: $green; color: #FFF; float: left; }
				.thoughts{ background: $green; }
				.features{ background: $brown; }

				a{
					text-decoration: none; 
					span{ 
						background: #AAA; 
						margin-left: 2px;
						border-right: none;  
					}
					&:hover{ 
						text-decoration: underline; 
						span{ background: #888; }
					}
				}
			}
			.continue-reading{ margin: 0; padding: 0; }
		}
	}
}

/** Features Story Styles **/
.feature-stream{
	
	width: auto;
	height: 325px;
	padding: 5% 14%;
	overflow: hidden;

	.feature_stream_buttons {

		width: 150px;
		height: 325px;
		z-index: 999;
		background: #FFF;
		position: absolute;
		-webkit-user-select: none;
		cursor: pointer;

		&:hover{ .button{ background: #FFF url('../images/arrow_sprite_hover.png') 0 50% no-repeat; } }

		.button{
	    	width: 32px;
	    	height: 100%;
	    	background: #FFF url('../images/arrow_sprite.png') 0 50% no-repeat;
	    	display: block;
	    	cursor: pointer;
	    	-webkit-user-select: none;
	    	-webkit-transition: background linear 0.2s;
	    }
	}
	.prev { left: 0; .button{ float: right; visibility: hidden; }}
	.next { 
		right: 0; 
		margin: -343px 0 0; 

		.button{ background-position: -32px 50%; } 
		&:hover{ .button{ background-position: -32px 50%; } }
	}

	.stream_item_container{
		width: 4000px;
		left: 0;
		position: relative;
		overflow: hidden;

		.stream-items{
			width: 425px;
			margin-right: 50px;
			padding: 20px;
			float: left;
			border-top: 5px solid $brown;
			-webkit-transition: opacity linear 0.2s;

			h2{
				font-size: 2em; 
				line-height: 1em; 
				a{ color: #666; text-decoration: none; -webkit-transition: color linear 0.2s; &:hover{ color: #333; } }
			}
			.date{ margin: 10px 0 0; font-size: 1.5em; color: #AAA; display: block; }
			.excerpt p{ color: #888; font-size: 1em; line-height: 1.5em; }
		}
		.active{ opacity: 1; }
	}
}
//features story

/** Features Page Footer **/
.footer{

	width: auto;
	padding: 20px 0;
	overflow: hidden; 

	.comments{

		width: 100%;
		margin: 20px 0;
		display: inline-block;
		position: relative;

		h2{ 

			padding: 20px 14%;
			font-size: 3em; 
			font-family: 'CaviarDreamsBold'; 
			color: $title-color;
			background: #FCFCFC;
		}

		.comments-list{
			margin: 40px 14% 0;
			padding: 0;
			list-style: none;

			.comment{

				margin: 0 0 20px;
				padding: 0 0 20px;
				border-bottom: 1px solid #EEE;

				.comment-header{
					width: 100%; 
					h3{ color: #888; font-size: 2.5em; }

					.comment-meta{
						margin: 5px 0 20px; 
						span{ color: #AAA; font-size: 1.5em; }
						.time{ &:before{ content: 'at'; margin-right: 5px; color: #CCC; }}
					}
					.reply{
						a{
							margin-left: 20px;
							color: $title-color;
							text-decoration: none;
							&:hover{ text-decoration: underline; }
						}
					}
				}

				&:last-child{ border-bottom: none; }

				.comment-content{
					color: $normal-color;
					font-size: 1.25em;
					line-height: 1.5em;
					font-family: 'CaviarDreamsRegular';
				}
			}
		}
		.children{ list-style: none; }
	}
}
//end of features page footer


//Single Pages Only
.single {
	.content_container{ 
		width: auto; 
		padding: 5% 14% 0; 
		.header{
			.meta{ margin: 20px 0;}
		}
	}
}
.single{ article.features{ padding-bottom: 5%; } }

/** Main Footer **/

.main_footer{

	.footer_top{
		padding: 5% 14%;
		background: #EEE;
		border-top: 10px solid #DDD;
		overflow: hidden;
		.widget_section{
			width: 50%;
			margin-right: 5%;
			float: left;

			.widget{
				margin: 0 0 5%;

				h2{ margin: 0 0 20px; font-family: 'CaviarDreamsRegular'; color: $green; }

				ul{
					margin: 0;
					padding: 0;
					list-style: none;

					li{
						margin: 0 0 10px 0;

						a{ 
							font-size: 1.15em; 
							color: #888; 
							text-decoration: none; 
							-webkit-transition: color linear 0.2s;

							&:hover{ color: #666; }
						}
						.post-date{ margin: 5px 0 0; font-size: 1em; color: #AAA; display: block; }
					}
				}
			}
		}

		.twitter_section{
			width: 45%;
			float: right;
			span{ margin: 0 0; @include little_tab_styles; display: inline-block; }
		}
		.feature{ 
			span{ background: $brown; }
			#twitter{ border-top: 5px solid $brown; } 
		}
		.news{
			span{ background: #666; }
			#twitter{ border-top: 5px solid #666; }
		}
		.thoughts{
			span{ background: $green; }
			#twitter{ border-top: 5px solid $green; }
		}
	}

	.footer_bottom{
		width: auto;
		padding: 20px 14%;
		background: #666;
		border-top: 10px solid #888;
		overflow: hidden;

		p{ 
			margin: 0 5px 0;
			padding:  10px 0 10px 0; 
			color: #CCC; 
			font-size: 1em; 
			float: left;

			a{ 
				color: #CCC; 
				text-decoration: none; 
				-webkit-transition: color linear 0.1s;

				&:hover{ color: #FFF; } 
			}
			&:first-child{ margin-left: 0px; border-left: none; }
		}
	}
}

/** END MAIN FOOTER **/

