@import 'variables';
@import 'mixins';

body{ 
	height: 100%; 
	margin: 0; 
	padding: 0; 
	color: #333;
	background: #FFF;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
	line-height: 1em;
	font-family: 'CaviarDreamsBold';
}

p, span, em, a{ font-family: 'CaviarDreamsRegular'; line-height: 1em; }

.container{
	width: auto;
	padding: 5% 14%;
	position: relative;
}

/** Main Header Styles **/
.main_header{

	height: 105px;
	background: #FCFCFC;
	border-bottom: 1px solid #EEE;

	.container{

		padding: 20px 14% 0; 

		.title{
			width: 225px;
			margin: 0 20px 0 0;
			font-size: 2em;
			overflow: hidden;
			color: $green;
			float: left;

			img{ width: 60px; float: left; }
			.title_words{
				margin: 0 0 0 5px;
				padding: 0 0 0;
				float: left;
				line-height: 1em;

				span{ display: block; }
			}
		}

		.menu{
			width: auto;
			margin: 34px 0 0;
			padding: 0;
			overflow: hidden;
			list-style: none;

			.menu-item{
				margin: 0 10px 0 0;
				float: left;

				a{
					width: auto;
					margin: 0;
					padding: 5px 20px;
					color: #999;
					font-size: 1em;
					text-decoration: none;
					text-align: center;
					-webkit-transition: all linear 0.1s;
					display: block;

					&:hover{ color: #666; }
				}

				&:last-child{ margin-right: 0px; }
			}
			.current-menu-parent,
			.current-menu-item{ 
				a{ color: #666; }
			}
		}
	}
}
.single{ .main_header{ display: none; } }

/** End Main Header **/

/** Content Container **/
.content_container{
		margin: 0 0 5%;
	padding: 30px 0 0;
	position: relative;
	overflow: hidden;	

	.category-title{
		padding: 5px 10px;
		color: #FFF;
		position: absolute;
		top: 0;
		left: 0;
	}
	.thoughts{ background: $green; }
	.news{ background: $grey; }
	.feature{ background: $brown; }

	.header{
		
		margin: 0 0 20px;
		
		a{ text-decoration: none; &:hover{ .title{ color: #888; } } }

		.title{ 
			padding: 5px 0 0 0 ;
			font-size: 4em; 
			color: #AEB29E;
			-webkit-transition: all linear 0.1s;
		}
		.meta{
			margin: 10px 0;

			span{ font-size: 2em; color: $subheading-color; }
			.author{
				&:before{
					content: 'by';
					margin: 0 10px;
					color: #CCC;
				}
			}
		}
	}

	.content{
		.excerpt{
			p{
				font-family: 'CaviarDreamsRegular';
				color: $normal-color; 
				font-size: 1.5em;
			}
		}
		p{ 
			margin: 0 0 20px;
			font-size: 1.5em; 
			line-height: 1.5em; 
			color: $normal-color; 
			display: inline-block;
		}
		a{
			color: $title-color;
			text-decoration: none;

			&:hover{ color: #444; -webkit-transition: all linear 0.2s; }
		}
	}

	.footer{

		overflow: hidden;
		.meta{
			margin: 25px 0;
			p{
				margin: 0 0 10px;
				display: block;
				overflow: hidden;

				span{ padding: 5px 10px; background: $green; color: #FFF; float: left; }
				a{
					text-decoration: none; 
					span{ 
						background: #AAA; 
						margin-left: 2px;
						border-right: none;  
					}
					&:hover{ 
						text-decoration: underline; 
						span{ background: #888; }
					}
				}
			}
			.continue-reading{ margin: 0; padding: 0; }
		}
		.comments{

			width: 100%;
			margin: 20px 0;
			display: inline-block;
			position: relative;

			h2{ 

				padding: 20px 0;
				font-size: 3em; 
				font-family: 'CaviarDreamsBold'; 
				color: $title-color;
				border-top: 1px solid #EEE;
				border-bottom: 1px solid #EEE;
				background: #FCFCFC;
			}

			.comments-list{
				margin: 40px 0 0;
				padding: 0;
				list-style: none;

				.comment{

					margin: 0 0 20px;
					padding: 0 0 20px;
					border-bottom: 1px solid #EEE;

					.comment-header{
						width: 100%; 
						h3{ color: #888; font-size: 2.5em; }

						.comment-meta{
							margin: 5px 0 20px; 
							span{ color: #AAA; font-size: 1.5em; }
							.time{ &:before{ content: 'at'; margin-right: 5px; color: #CCC; }}
						}
						.reply{
							a{
								margin-left: 20px;
								color: $title-color;
								text-decoration: none;
								&:hover{ text-decoration: underline; }
							}
						}
					}

					.comment-content{
						color: $normal-color;
						font-size: 1.25em;
						line-height: 1.5em;
						font-family: 'CaviarDreamsRegular';
					}
				}
			}
			.children{ list-style: none; }
		}
	}
}
.single .content_container{ width: auto; padding: 5% 14% 0; }