@mixin little_tab_styles{
	padding: 5px 10px;
	color: white;
}

@mixin content_meta{
	margin: 10px 0;

	span{ font-size: 2em; color: $subheading-color; }
	.author{
		&:before{
			content: 'by';
			margin: 0 10px;
			color: #CCC;
		}
	}
}

@mixin blockSizes{
	width: 32.6%;
	height: 350px;
	margin: 0 1.1% 0 0;
	float: left;
}